* {
    margin: 0px;
    padding: 0px;
}
.calculator__body {
    margin: 200px auto;
    width: 390px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;
    background-color: #eee4e1;
    font-family: Montserrat;
    position: relative;
}
.border-main-5px {
    border: 5px solid #e6beae;
}
.displayContainer {
    text-align: end;
    height: 100px;
    width: 300px;
    margin: 8px;
    margin-bottom: 0px;
    overflow: scroll;
    font-size: 30px;
    background-color: #ecf8f8;
    font-family: orbitron;
    border-radius: 10px;
}
.display-top {
    height: 60%;
}
.display-bottom {
    height: 40%;
}
/* button */
/* overall button design */
.btn {
    padding: 8px;
    width: 4em;
    margin: .5em;
    font-size: 16px;
    background-color: #e6beae9c;
    border-radius: 10px;
    border: 2px solid #e6beae;
}
.btn:hover {
    cursor: pointer;
    background-color: #e6beae;
}
.btn_container {
    /* display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
.btn__container-col {
    display: flex;
    flex-direction: column;
}
.btn_power {
    background-color: #b2967d;
    color: black;
    border: 2px solid rgba(230, 190, 174, 0.781);
}

/* JavaScript Styles */
.btn_disabled {
    background-color: #e7d8c9;
    color: black;
}
.btn_disabled:hover {
    cursor:default;
}
/* power button design */
.calculator_ON {
    background-color: #b2967d;
    color: black;
}

footer {
    position: absolute;
    font-size: .85em;
    right: 45px;
    bottom: 10px;
}